/*@import '../../node_modules/slick-carousel/slick/slick.css';*/
/*@import '../../node_modules/slick-carousel/slick/slick-theme.css';*/
/*@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');*/

@tailwind base;

@tailwind components;

@tailwind utilities;

@layer base {
  h1 {
    @apply text-3xl;
    @apply pt-6;
    @apply pb-4;
  }
  h2 {
    @apply text-2xl;
    @apply pt-6;
    @apply pb-4;
  }
  h3 {
    @apply text-xl;
    @apply pt-6;
    @apply pb-4;
  }
  p {
    @apply text-lg;
    @apply text-inherit;
    @apply pt-1.5;
    @apply pb-2.5;
  }
  ul {
    @apply list-disc;
  }
  ul li {
    @apply text-lg;
    @apply ml-4;
    @apply py-1;
  }
}

a {
  @apply text-blue-700;
}

a:hover {
  @apply border-blue-900;
}

/* Typography */

@font-face {
  font-family: 'HKGrotesk';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/HKGrotesk-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'HKGrotesk';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/HKGrotesk-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'HKGrotesk';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/HKGrotesk-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'HKGrotesk';
  font-style: normal;
  font-weight: 800;
  src: url('/fonts/HKGrotesk-ExtraBold.woff2') format('woff2');
}
